.button {
  font-size: 1em;
  padding: 9px 10px 9px 10px;
  color: #000;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background-color: transparent;

  &:hover {
    background: #06D85F;
  }
}
