body {
  font-family: Arial, sans-serif;
  background-size: cover;
  height: 100vh;
}

.title-1 {
  display: block;
  font-size: 2em;
  color: #06D85F;
  margin: 80px 0;
  font-weight: bold;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
}

.title-2 {
  display: block;
  font-size: 1.5em;
  color: #06D85F;
  margin: 80px 0;
  font-weight: bold;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
}

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.box {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.image {
  width: 100px;
  height: 100px;
}

.go-right {
  float: right;
}

.go-left {
  float: left;
}
