.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;

  &:target {
    visibility: visible;
    opacity: 1;
  }

  .modal-content {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;

    .modal-header {
      margin-top: 0;
      color: #333;
      font-family: Tahoma, Arial, sans-serif;
      font-size: 1.5em;
      font-weight: bold;
      -webkit-margin-before: 0.5em;
      -webkit-margin-after: 0.83em;

      .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        right: 19px;

        &:hover {
          color: #06D85F;
        }
      }
    }

    .modal-body {
      max-height: 30%;
      overflow: auto;
    }

    .modal-footer {
      margin-top: 25px;
      text-align: right;
    }
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {
  .modal .modal-content {
    width: 80vw;
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {  }

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
  .modal .modal-content {
    width: 70vw;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {
  .modal .modal-content {
    width: 50vw;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {  }

/* hi-res laptops and desktops */
@media (min-width:1281px) {
  .modal .modal-content {
    width: 40vw;
  }
}
